---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucas Wolf</title>
	</head>
	<body>
		<h1>Hi, I'm Lucas Wolf.</h1>
		<ul>
			<li><a href="https://linkedin.com/in/iamlucaswolf">LinkedIn</a></li>
			<li><a href="https://github.com/iamlucaswolf">GitHub</a></li>
		</ul>
		<p>
		I am a Software Developer based in Munich, Germany, currently working on the <a href="https://tableau.github.io/hyper-db/journey">Hyper Database</a> at Salesforce. 
		My main interests center on software performance and machine learning.
		This is my personal blog, and all opinions are my own.
		</p>
		<p>
		Work in progress.
		</p>
	</body>
</html>
