---
---
<footer class="flex justify-between items-center">
    <p class="text-slate-500">© {new Date().getFullYear()} Lucas Wolf</p>
    <div>
        <a href="https://linkedin.com/in/iamlucaswolf" class="text-slate-500 hover:text-slate-800">LinkedIn</a>
        <a href="https://github.com/iamlucaswolf" class="text-slate-500 hover:text-slate-800">GitHub</a>
    </div>
</footer>